<% if signed_in? %>
    <% if current_user.stacks.count > 0 %>
      <div class="row">
        <aside class="span3">
              <section>
                <%= link_to "Create New Stack", create_stack_path(:select_template), class: "btn  btn-primary" %>
              </section>
            </aside>
            <div class="span9">
              <h3>Stacks (<%= current_user.stacks.count %>)</h3>
              <%- model_class = Stack -%>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th><%= model_class.human_attribute_name(:stack_name) %></th>
                    <th><%= model_class.human_attribute_name(:status) %></th>
                    <th><%= model_class.human_attribute_name(:launched_at) %></th>
                    <th><%=t '.actions', :default => t("helpers.actions") %></th>
                  </tr>
                </thead>
                <tbody>
                    <%= render @stacks %>
                </tbody>
              </table>
          </div>
      </div>
    <% else %>
        <div class="center hero-unit">
          <h1> <%= link_to image_tag("stacktician_logo.png", alt: "stack*tician"), '' %> </h1>

          <section>
            You do not have any stacks. Click the "Create New Stack" button below to create a new  CloudFormation Stack on CloudStack
          </section>
          <p></p>
          <%= link_to "Create New Stack", create_stack_path(:select_template), class: "btn btn-large btn-success" %>
        </div>
    <% end %>
<% else %>
    <div class="center hero-unit">
        <h1> <%= link_to image_tag("stacktician_logo.png", alt: "stack*tician"), '' %> </h1>

      <h4>
        Deploy your applications and resources on CloudStack using CloudFormation templates
      </h4>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-success" %>
    </div>

<% end %>
