<table class="table table-striped">
  <tbody>
      <tr>
          <td>Name</td>
          <td><%= @stack.stack_name %></td>
      </tr>
      <tr>
          <td>Stack Id</td>
          <td><%= @stack.stack_id %></td>
      </tr>
      <tr class="<%= stack_status_style(@stack) %>" >
          <td>Status</td>
          <td><%= @stack.status %></td>
      </tr>
      <tr>
          <td>Created</td>
          <td><%= @stack.created_at %></td>
      </tr>
      <tr>
          <td>Description</td>
          <td><%= @stack.created_at %></td>
      </tr>
      <tr>
          <td>Stack Creation Timeout (seconds)</td>
          <td><%= @stack.timeout %></td>
      </tr>
  </tbody>
</table>
