<h2 class="text-left"> Stack Events</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Type</th>
      <th>Logical ID </th>
      <th>Physical ID</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @stack.stack_resources.each do |rsrc| %>
      <tr>
        <td><%= rsrc.created_at %></td>
        <td><%= rsrc.typ %></td>
        <td><%= rsrc.logical_id %></td>
        <td><%= rsrc.physical_id %></td>
        <td><%= rsrc.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
