<h2 class="text-left"> Stack Resources</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Logical Id </th>
      <th>Physical Id</th>
      <th>Type</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @stack.stack_resources.each do |rsrc| %>
        <!-- <tr class="<%= resource_status_style(rsrc) %>" > -->
        <tr>
        <td><%= rsrc.logical_id %></td>
        <% if uri?(rsrc.physical_id) %>
            <td> <a href="<%= rsrc.physical_id %>"><%= rsrc.physical_id %></a> </td>
        <% else %>
            <td> <%= rsrc.physical_id %> </td>
        <% end %>
        <td><%= rsrc.typ %></td>
        <td class="<%= resource_status_style(rsrc) %>"><%= rsrc.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
