<tr>
  <td><%= link_to stack.stack_name,  stack_path(stack) %></td>
  <td><p class="text-<%= stack_status_style(stack) %>" > <%= stack.status %> </p> </td>
  <td><%= time_ago_in_words(stack.created_at) %> ago</td>
  <td>
    <%= link_to t('.update', :default => t("helpers.links.update")),
                edit_stack_path(stack), :class => 'btn btn-mini' %>
    <%= link_to t('.delete', :default => t("helpers.links.delete")),
                stack_path(stack),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>
