<tr>
  <td><%= link_to stack.stack_name,  stack_path(stack) %></td>
  <td><p class="text-<%= stack_status_style(stack) %>" > <%= stack.status %> </p> </td>
  <td><%= time_ago_in_words(stack.created_at) %> ago</td>
  <td>
    <%= link_to t('.hide', :default => t("helpers.links.hide")),
                stack_path(stack),
                :method => :put,
                :class => 'btn btn-mini' %>

  </td>
</tr>
