<tr>
  <td><%= link_to stack.stack_name,  stack_path(stack) %></td>
  <td><p class="text-<%= stack_status_style(stack) %>" > <%= stack.status %> </p> </td>
  <td><%= time_ago_in_words(stack.created_at) %> ago</td>
  <td>
    <%= link_to t('.delete', :default => t("helpers.links.delete")),
                root_url,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Not Yet Supported')) },
                :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>
